.dashboard-left-upper {
  border-radius: 10px;
  padding: 0.8rem 0.9rem;
  color: #fff;
  background: linear-gradient(0deg, #161e54, #161e54),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.dashboard-left-upper span {
  margin: 0.4rem 0rem;
  font-size: 12px;
  color: #8e91a6;
}
.dashboard-left-upper p {
  font-size: 14px;
  color: #8e91a6;
}
.dashboard-left-upper .footer-part {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.dashboard-left-upper .footer-part button {
  padding: 0.2rem 0.6rem;
  background-color: #ff5151;
  border: none;
  color: #fff;
  cursor: pointer;
}
.dashboard-left-upper .footer-part span {
  color: #fff;
  font-size: 14px;
}
/* dashborad down */
.dashboard-left-down {
  margin-top: 1rem;
  border: 1px solid #ddd;
}
.dashboard-left-down .text-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.infromation-text .card-box {
  display: flex;
  justify-content: space-between;
}
.infromation-text .card-box span {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #686868;
}
.infromation-text .card-box {
  background-color: #fafafa;
  margin-top: 0.7rem;
  border: 1px solid #ddd;
  padding: 0.5rem 0.9rem;
}
.dashboard-left-down .dashboard-left-down-inner {
  padding: 1rem 0.5rem;
}

.dashboard-left-upper .recent-activity {
  font-size: 1.3rem;
  font-weight: 500;
}
.timer-text {
  margin-top: 1.3rem;
  margin-bottom: 0.5rem;
}
